@import "../../../css/_mixins.css";
@mixin host-border-box;

.question-container {
  width: 100%;
  display: grid;
  & p {
    font-family: var(--font-family-italic);
    font-size: 0.875rem; /* 14px */
    line-height: 1.5;
    color: var(--foreground-color-secondary);
  }
  & h1 {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem; /* 20px */
    font-variation-settings: "wght" var(--font-weight-medium);
    line-height: 1.2;
    margin-top: 0.75rem; /* 12px */
    margin-bottom: 1.5rem; /* 24px */
  }

  & #quiz-form {
    margin-top: 2.5rem; /* 40px */

    & fieldset {
      border: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.75rem; /* 12px */
      margin-bottom: 0.75rem; /* 12px */

      & legend {
        display: none;
      }
    }

    & input[type="radio"] {
      display: none;
    }
    & input[type="radio"]:checked ~ option-item {
      --option-border-color: var(--color-primary);
      --option-icon-color: var(--color-primary);
      --option-icon-text-color: var(--color-white);
    }

    & .error-message-block {
      width: 250px;
      margin: 0 auto;
      margin-top: 0.75rem; /* 12px */
      display: flex;
      justify-conrtent: space-between;
      align-items: center;
      gap: 8px;

      &.hidden {
        display: none;
      }

      & .error-icon-wrapper {
        width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
          max-width: 100%;
          width: 27px;
          height: 27px;
        }
      }

      & .error-message {
        font-family: var(--font-family);
        font-variation-settings: "wght" var(--font-weight-regular);
        font-size: 1.125rem; /* 18px */
        color: var(--color-error);
      }
    }
  }

  @mixin media-query-tablet {
    & p {
      font-size: 1.25rem; /* 20px */
    }
    & h1 {
      font-size: 2.25rem; /* 36px */
    }
    & #quiz-form {
      margin-top: 4rem; /* 64px */

      & fieldset {
        gap: 1.5rem; /* 24px */
        margin-bottom: 2rem; /* 32px */
      }

      & .error-message-block {
        width: 316px;
        margin-top: 2.125rem; /* 34px */

        & .error-icon-wrapper {
          width: 2.5rem;
          height: 2.5rem;

          & img {
            width: 33px;
            height: 33px;
          }
        }

        & .error-message {
          font-size: 1.5rem; /* 24px */
        }
      }
    }
  }

  @mixin media-query-desktop {
    grid-template-areas:
      "info form"
      "question form"
      "progress form"
      "empty form";
    column-gap: 8.1875rem; /* 131px */
    row-gap: 0;

    & p {
      grid-area: info;
    }

    & h1 {
      grid-area: question;
      margin-top: 27px;
      margin-bottom: 0;
      height: 379px;
    }

    & progress-bar {
      grid-area: progress;
    }

    & #quiz-form {
      grid-area: form;
      width: 564px;
      margin: 0;
    }
  }
}
