@import "../../../css/_mixins.css";
@mixin host-border-box;

:host {
  --option-border-color: var(--option-background-color);
  --option-icon-color: var(--color-light-grey);
  --option-icon-text-color: var(--color-dark-grey);
  --item-height: 64px;
  --item-border-width: 3px;
  --item-border-radius: 0.75rem; /* 12px */
  --item-padding: 0.75rem; /* 12px */
  --item-icon-size: 40px;
  --item-icon-border-radius: 6px;
  --item-text-font-size: 1.125rem; /* 18px */
  --item-icon-text-gap: 1rem;
  --item-status-size: 2rem;
  --item-status-icon-size: 27px;
}
@mixin media-query-tablet {
  :host {
    --item-height: 80px;
    --item-icon-size: 56px;
    --item-border-radius: 1.5rem; /* 24px */
    --item-icon-border-radius: 12px;
    --item-text-font-size: 1.75rem; /* 28px */
    --item-icon-text-gap: 2rem;
    --item-status-size: 2.5rem; /* 40px */
    --item-status-icon-size: 33px;
  }
}

@mixin media-query-desktop {
  :host {
    --item-height: 92px;
    --item-icon-border-radius: 0.5rem; /* 8px */
    --item-padding: 1.125rem; /* 18px */
  }
}

.option-item {
  width: 100%;
  min-height: var(--item-height);
  border: none;
  outline: none;
  border-radius: var(--item-border-radius);
  padding: calc(
    var(--item-padding) - var(--item-border-width)
  ); /* 12px - 3px = 9px */
  background-color: var(--option-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--item-border-width) solid var(--option-border-color);
  cursor: pointer;

  &:hover > .option-icon-wrapper {
    background-color: var(--color-a11y-faded);
    color: var(--color-primary);
  }

  & .option-icon-wrapper {
    width: var(--item-icon-size);
    height: var(--item-icon-size);
    border-radius: var(--item-icon-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem; /* 4px */
    background-color: var(--option-icon-color);
    color: var(--option-icon-text-color);
    font-variation-settings: "wght" var(--font-weight-medium);
    font-size: var(--item-text-font-size);
  }

  & .option-value {
    flex: 1;
    font-variation-settings: "wght" var(--font-weight-medium);
    font-size: var(--item-text-font-size);
    font-weight: 500;
    margin-left: var(--item-icon-text-gap);
    text-align: left;
    line-height: 1;
  }

  & .option-status {
    width: var(--item-status-size);
    height: var(--item-status-size);
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      max-width: 100%;
      width: var(--item-status-icon-size);
      height: var(--item-status-icon-size);
    }
  }
}

:host(:state(correct)) {
  --option-border-color: var(--color-success);
  --option-icon-color: var(--color-success);
  --option-icon-text-color: var(--color-white);

  & .option-item:hover > .option-icon-wrapper {
    background-color: var(--color-success);
    color: var(--option-icon-text-color);
  }

  & .correct-icon {
    display: block;
  }
}
:host(:state(incorrect)) {
  --option-border-color: var(--color-error);
  --option-icon-color: var(--color-error);
  --option-icon-text-color: var(--color-white);

  & .option-item:hover > .option-icon-wrapper {
    background-color: var(--color-error);
    color: var(--option-icon-text-color);
  }

  & .incorrect-icon {
    display: block;
  }
}
:host(:state(show-correct)) {
  --option-border-color: var(--option-background-color);
  --option-icon-color: var(--color-light-grey);
  --option-icon-text-color: var(--color-dark-grey);

  & .correct-icon {
    display: block;
  }
}
