@define-mixin media-query-desktop {
  @media (min-width: 1200px) {
    @mixin-content;
  }
}
@define-mixin media-query-tablet {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin host-border-box {
  :host,
  :host *,
  :host *::before,
  :host *::after {
    box-sizing: border-box;
  }

  :host {
    font-family: var(--font-family);
    font-variation-settings: "wght" var(--font-weight-regular);
    color: var(--foreground-color);

    & h1,
    & h2,
    & h3,
    & p {
      padding: 0;
      margin: 0;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
