@import "./_css_reset.css";
@import "./_mixins.css";
@import "./_fonts.css";

:root {
  --color-white: #ffffff;
  --color-light-grey: #f4f6fa;
  --color-grey: #626c7f;
  --color-dark-grey: #3b4d66;
  --color-black: #313e51;
  --color-primary: #a729f5;
  --color-success: #26d782;
  --color-error: #ee5454;
  --color-greyish-blue: #abc1e1;
  --color-html-faded: #fff1e9;
  --color-css-faded: #e0fdef;
  --color-js-faded: #ebf0ff;
  --color-a11y-faded: #f6e7ff;
  --font-family: Rubik;
  --font-family-italic: Rubik Italic;
  --font-size: 16px;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  /* Default to light mode */
  --pattern-background-mobile: url("../images/pattern-background-mobile-light.svg");
  --pattern-background-tablet: url("../images/pattern-background-tablet-light.svg");
  --pattern-background-desktop: url("../images/pattern-background-desktop-light.svg");
  --background-color: var(--color-light-grey);
  --foreground-color: var(--color-black);
  --foreground-color-secondary: var(--color-grey);
  --option-background-color: var(--color-white);
  --error-message-color: var(--color-error);
}

@media (prefers-color-scheme: dark) {
  :root {
    --system-mode: "dark-mode";
  }
}
.dark-mode {
  --pattern-background-mobile: url("../images/pattern-background-mobile-dark.svg");
  --pattern-background-tablet: url("../images/pattern-background-tablet-dark.svg");
  --pattern-background-desktop: url("../images/pattern-background-desktop-dark.svg");
  --background-color: var(--color-black);
  --foreground-color: var(--color-white);
  --foreground-color-secondary: var(--color-greyish-blue);
  --option-background-color: var(--color-dark-grey);
  --error-message-color: var(--color-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-variation-settings: "wght" var(--font-weight-regular);
  -webkit-font-smoothing: antialiased;
  color: var(--foreground-color);
  line-height: 1.5;
  background-image: var(--pattern-background-mobile);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  background-color: var(--background-color);

  @mixin media-query-tablet {
    --background-image-width: 438px;
    --background-image-height: 531px;

    padding: 2.5rem 4rem; /* 40px 64px */
    background-image: var(--pattern-background-tablet);
    background-size: var(--background-image-width)
      var(--background-image-height);
  }

  @mixin media-query-desktop {
    padding: 0;
    padding-top: 5.1875rem; /* 83px */
    background-image: var(--pattern-background-desktop);
    background-size: cover;
  }
}

main {
  width: 100%;
  padding: 2rem 1.5rem; /* 32px 24px */
  @mixin media-query-tablet {
    padding: 0;
    padding-top: 3.0625rem; /* 49px */
  }
  @mixin media-query-desktop {
    width: 1160px;
    margin: 0 auto;
    padding: 5.3125rem 0; /* 85px 0 */
  }
}
