@import "./_css_reset.css";
@import "./_mixins.css";
@import "./_fonts.css";

:root {
  --color-white: #ffffff;
  --color-light-grey: #f4f6fa;
  --color-grey: #626c7f;
  --color-dark-grey: #3b4d66;
  --color-black: #313e51;
  --color-primary: #a729f5;
  --color-success: #26d782;
  --color-error: #ee5454;
  --color-greyish-blue: #abc1e1;
  --font-family-regular: Rubik;
  --font-family-italic: Rubik Italic;
  --font-size: 16px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-regular);
  font-size: var(--font-size);
  font-variation-settings: "wght" var(--font-weight-regular);
  color: var(--color-black);
  background-color: var(--color-white);
  line-height: 1.5;
}
