@import "../../../css/_mixins.css";
@mixin host-border-box;

:host {
  --category-icon-size: 2.5rem; /* 40px */
  --category-icon-border-radius: calc(4px + var(--ri, 0) * 1px);
}

@mixin media-query-tablet {
  :host {
    --category-icon-size: 3.5rem; /* 56px */
    --category-icon-border-radius: calc(8px + var(--ri, 0) * 2px);
  }
}

.category-icon-wrapper {
  width: var(--category-icon-size);
  height: var(--category-icon-size);
  border-radius: var(--category-icon-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;

  &.css {
    background-color: var(--color-css-faded);
  }
  &.html {
    background-color: var(--color-html-faded);
  }
  &.js {
    background-color: var(--color-js-faded);
  }
  &.a11y {
    background-color: var(--color-a11y-faded);
  }

  & img {
    max-width: 100%;
    object-fit: contain;
  }
}
