@import "../../../css/_mixins.css";
@mixin host-border-box;

.score-container {
  width: 100%;
  display: grid;

  & h1,
  & h2 {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem; /* 40px */
    font-variation-settings: "wght" var(--font-weight-light);
    line-height: 1;
  }

  & h2 {
    font-variation-settings: "wght" var(--font-weight-medium);
    margin-top: 8px;
  }

  & .score-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem; /* 24px */
    padding: 3rem; /* 48px */
    background-color: var(--option-background-color);
    margin-top: 2.5rem; /* 40px */
    margin-bottom: 0.75rem; /* 12px */

    & .category-block {
      display: flex;
      align-items: center;

      & .category-name {
        font-variation-settings: "wght" var(--font-weight-medium);
        font-size: 1.125rem;
        font-weight: 500;
        margin-left: 1rem;
      }
    }
    & .points-scored {
      font-size: 5.5rem; /* 88px */
      font-variation-settings: "wght" var(--font-weight-medium);
      text-align: center;
      line-height: 1;
      margin: 1rem 0;
    }
    & .score-out-of {
      font-size: 1.125rem; /* 18px */
      line-heigth: 1.5;
      text-align: center;
      color: var(--foreground-color-secondary);
    }
  }

  @mixin media-query-tablet {
    & h1,
    & h2 {
      font-size: 4rem; /* 64px */
    }

    & .score-block {
      margin-top: 4rem; /* 64px */
      margin-bottom: 2rem; /* 32px */
      padding: 3rem; /* 48px */

      & .category-block {
        & .category-name {
          font-size: 1.75rem; /* 28px */
        }
      }

      & .points-scored {
        font-size: 9rem; /* 144px */
        margin-top: 2.5rem; /* 40px */
        margin-bottom: 1rem; /* 16px */
      }

      & .score-out-of {
        font-size: 1.5rem; /* 24px */
      }
    }
  }

  @mixin media-query-desktop {
    grid-template-areas:
      "header1 score-block"
      "header2 score-block"
      "empty score-block"
      "empty button-block";

    & h1 {
      grid-area: header1;
    }
    & h2 {
      grid-area: header2;
    }

    & .score-block {
      grid-area: score-block;
      margin-top: 0;
      width: 564px;
      justify-self: end;
    }

    & button-component {
      grid-area: button-block;
      width: 564px;
      justify-self: end;
    }
  }
}
