@import "../../../css/_mixins.css";
@mixin host-border-box;

:host {
  --button-height: 56px;
  --button-border-radius: 0.75rem; /* 12px */
  --button-text-font-size: 1.125rem; /* 18px */
}

@mixin media-query-tablet {
  :host {
    --button-height: 92px;
    --button-border-radius: 1.5rem; /* 24px */
    --button-text-font-size: 1.75rem; /* 28px */
  }
}

button {
  border: none;
  outline: none;
  width: 100%;
  height: var(--button-height);
  padding: 0.75rem; /* 12px */
  border-radius: var(--button-border-radius);
  background-color: var(--color-primary);
  color: var(--color-white);
  font-family: var(--font-family);
  font-variation-settings: "wght" var(--font-weight-medium);
  font-size: var(--button-text-font-size);
  text-transform: capitalize;
  cursor: pointer;
  &:focus {
    box-shadow: 0 0 0 2px var(--color-white), 0 0 0 4px var(--outline-color);
  }

  &:hover {
    background-color: var(--color-primary);
    background-image: linear-gradient(to right, #ffffff50 0%, #ffffff50 100%);
  }
}
